<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <script type="module" src="{{ url_for('static', filename='hiMrUser.js') }}"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="{{url_for('static', filename='hi_mr_user.gif')}}" alt="Centered GIF">
</body>
</html>
