<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- We need to make this better, make a base html that we can extend -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Annoying Site</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="{{url_for('static', filename='hi_mr_user.gif')}}" alt="Centered GIF">
</body>
</html>
