<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Annoying Site</title>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <style>
        body {
            background-color: #f0f0f0;
        }
        #movingButton {
            position:absolute;
            top: 20px;
            left: 20px;
            padding: 20px 40px;
            font-size: 24px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        #movingButton:hover {
            background-color: #0056b3;
        }
        </style>
</head>
<body>
    <button id="movingButton" class="movingButton" href="/hello">Press Me</button>
</body>
</html>